$blue: rgba(28,47,90,1);
$blue-hover:rgba(28,48,91,0.6);
$blue-flex:rgba(28,47,90,.83);
$light-blue:rgba(19,147,207,1);
$light-blue-hover:rgba(19,147,207,0.7);
$gray:rgba(84,88,90,1);
$divide:#dddddd;

html, body {height:100%;color:$gray;background:transparent url(../img/noise.jpg) repeat;}
#page {min-height:100%;}
#wrap {overflow:auto;padding-bottom:280px;}
#colophon {position:relative;padding:5em 0; margin-top:-280px;min-height:280px;clear:both;background:$blue;
  -webkit-box-shadow:inset 2px 0px 19px 0px #00022F;
   box-shadow:inset 2px 0px 19px 0px #00022F;color:#fff;
    a {color:#fff;}
}
body:before {
	content:"";height:100%;float:left;width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}
html {
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	margin-top:0px !important;
}
#primary {padding-bottom:7em;}
* {-moz-outline:0 none;
outline:0 none;margin:0;}
a {-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color:$light-blue;
  &:hover {color:$light-blue-hover;}
}
 [class*="column"]+[class*="column"]:last-child {
  float: left;
}

/* FONTS */
$roboto-reg:'Roboto', sans-serif;
$roboto:'Roboto Condensed', sans-serif;
$liberation:'liberation_sansregular';
h1, h2 {font-family:$roboto-reg;color:$blue;font-weight:300;}
h1 {font-size:30px;line-height:34px;
	&.page-title {color:#fff;
		&:after {clear:both;}
	}
}
h2 {font-size:22px;line-height:28px;margin-top:2em;}
h3 {font:400 16px/22px $roboto;color:$gray;}
.widget-title {border-bottom:1px solid $divide;padding-bottom:10px;}
html, p, li {font:400 14px/23px $liberation;color:$gray;}
p.callout {color:#54585a;font:300 22px/28px $roboto-reg;margin-bottom:2.4em;}
.read-more {font:300 15px/18px $roboto-reg;color:$blue;text-transform:uppercase;
	&:after {content:url(../img/arrow-right.png);padding-left:10px;}
}
.file {
	background:transparent url(../img/file.png) no-repeat 0 0;padding-left:78px;
	padding-bottom:2em;margin-bottom:2em;border-bottom:1px solid $divide;
	&:last-child {border-bottom:none;}
}

/* END FONTS */

/* WORDPRESS */
.alignright {float:right;margin:7px 0 7px 24px;}
.alignleft {margin:7px 24px 7px 0;float:left;}
.aligncenter {margin-top: 7px;margin-bottom: 7px;}

/* FOUNDATION */
.button {font-family:$roboto-reg;font-size:17px;padding:1rem 3.7rem 1.0625rem 1.2rem;
	&:after {content:'';background:url(../img/arrow-btn.png) no-repeat;width:38px;height:26px;position:absolute;
		top:0.8em;right:10px;
	}
	&:hover {background:$blue-hover;}
}
#tab-container {overflow:hidden;background:#fff;border:1px solid $divide;margin-top:3em;
	border-radius:5px;background-clip: padding-box;
	h2 {margin-top:0;}
	p.callout {color:$blue;font:300 17px/26px $roboto-reg;margin-bottom:2em;}
}
.tabs .tab-title {margin:0 4px 0 0;
	> a {padding:1em;border-top:4px solid $blue;background:#D6D6D6;
		border-radius:3px 3px 0 0;background-clip: padding-box;
		font:400 18px/20px $roboto;background:#c8c8c8;color:#fff;
		text-shadow:-1px -1px 3px #888;
		&:hover {background:#F1F1F1;color:$blue;text-shadow:none;}
	}
	&.active {
		a {color:$blue;text-shadow:none;
			&:hover {background:#fff;cursor:pointer;}
		}
	}
}
.tabs.vertical {border-left:1px solid $divide;background:#D6D6D6;padding-bottom:1000px;margin-bottom:-1000px !important;
	.tab-title {margin:0;
		> a {border-top:1px solid $divide;border-bottom:1px solid #fff;
			border-right:1px solid $divide;border-radius:0;
			
		}
		&:first-child > a {border-radius:3px 0px 0 0;border-top:none;}
		&.active > a {border-left:3px solid $blue;border-right:none;
			//box-shadow:0px 0px 5px 0px #383838;position:relative;
			z-index:80;
		}
	}
}
.tabs-content {
	padding-bottom:4em;width:80%;float:right;padding:0 2em 2em;
}
.tiertiary {background:$blue;font-size:13px !important;padding:0.8em 1.2em;
	&:after {content:'';background:none;}
}
@media only screen and (min-width:40.0625em) {
	h1 {font-size:39px;line-height:45px;}
}