/* HEADER */
.screen-reader-text {  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;position: absolute !important;
  height: 1px;width: 1px;
}
.site-title {
	h1 {text-indent:-9999px;font-size:0px;margin:0;border-bottom:none;}
}
.menu-toggle {background-color:transparent;border:none;position:absolute;right:0.9375em;top:0.5em;
	img {width:100%;max-width:22px;width:22px;height:16px;}
}

.nav-menu {
	ul {margin:0;}
	li {list-style:none;display:inline;
		a {}
		ul.children {
			
		}
	}
}
#masthead {
	.nav-menu {
		
	}
}
#mobile-navigation {padding-left:0;padding-right:0;
	.nav-menu {display:none;margin:0;padding:0;
		li {margin:0;display:block;
			a {display:block;padding:1em 0;text-align:center;background:#ccc;}
		}
	}
}
/* END HEADER */