*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-admin
wp-activate.php
wp-trackback.php
wp-signup.php
wp-settings.php
wp-mail.php
wp-login.php
wp-load.php
wp-cron.php
wp-config
index.php
favicon.ico
xmlrpc.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-links-opml.php
wp-includes
replace
img
wp-content/plugins
wp-content/uploads
/readme.html
/license.txt